---
import ContactButton from '../ContactButton.astro';
import { personalInfo, socialLinks } from '../../config/personalInfo';
---
<div class="py-20 bg-white">
  <div class="max-w-4xl mx-auto px-6 text-center">
    <h1 class="text-4xl font-bold text-primary mb-4">Hello, I'm {personalInfo.name}</h1>
    <p class="text-xl text-content-medium mb-8">{personalInfo.title} {personalInfo.tagline}</p>
    <div class="space-x-4">
      {socialLinks.map(link => (
        <ContactButton 
          href={link.url}
          icon={link.icon}
          label={link.platform}
        />
      ))}
    </div>
  </div>
</div>